<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>hls-ponyfill</title>
</head>

<body>
    <!-- <video id="video" is="hls-ponyfill" src="http://localhost:8081/index.m3u8" controls></video> -->
    <video id="video" is="hls-ponyfill" src="https://stands.s3.yandex.net/streams/subtitles-playlist-two-tracks/master.m3u8" controls></video>
</body>

</html>